__pycache__/
notes/
dist/
scratch/
subgrounds.egg-info/
*.json
*.log
.coverage
.python-version
!tests/schemas/*.json

# top-level python scripts and notebooks
/*.py
/*.ipynb

# apple
.DS_Store
.venv*/